body {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fefefe;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 20px;
    color: orange;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.container {
    max-width: 1500px;
    /* max-width: 95vw; */
        /* ビューポートの95%を使う */
    margin: 50px auto;
    padding: 0 20px;
}

.card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background: white;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-3px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn {
    font-size: 14px;
}

h1,
h2,
h3 {
    color: #444;
}

/* ページネーション用 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 8px;
    list-style: none;
    padding: 0;
}

.pagination li a,
.pagination li span {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}

.pagination li.active span {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000;
    font-weight: bold;
}

.card-img-top {
    /* height: 280px; */
    width: 300px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 1.1rem;
}

.page-header h2 {
    font-size: 1.8rem;
}

/* 登録ボタン */
.register-button {
    background-color: #ffc107;
    color: #000;
    padding: 10px 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.search-form input,
.search-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}

